# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Cameron\deno-discord-slash-commands\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
